.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

header {
    margin-bottom: 100px;
}
form .download {
    background-color: rgb(5, 176, 22);
    color: white;
    font-size: 1.24rem;
}
form {
    width: 100%;
}
form .container {
    margin-inline: auto;
    width: 80%;
    max-width: 800px;
    display: flex;
}
form .container button {
    padding: 5px;
    height: 35px;
    border: none;
}
form .container input {
    height: 35px;
    flex-grow: 1;
    padding-left: 4px;
    border: 1px solid #cbcbc9;
    border-bottom-left-radius: 4px;
}
form .container input:focus {
    outline: none;
    border: 1px solid #e2e2e2;
}
button[type="submit"] {
    cursor: pointer;
}

.video {
    width: 80%;
    display: flex;
    padding: 0;
    color: white;
    font-size: 1.24rem;
    max-width: 800px;
    margin: 30px auto;
}

.video img {
    width: 50%;
    margin: 0;
    padding: 0;
    max-width: 250px;
    user-select: none;
}

.video > span {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    padding-left: 10px;
    justify-content: space-around;
}

.video > span a {
    text-decoration: none;
    color: rgb(67, 67, 216);
    justify-self: flex-start;
}

.video .download {
    background-color: rgb(248, 22, 6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 200px;
    height: 30px;
    font-size: large;
    cursor: pointer;
}

.resolutions {
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.resolutions input {
    appearance: none;
}

.resolutions input[type="radio"] + label {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #656464;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    user-select: none;
    transition: ease-in-out(0.3s);
}

.resolutions input[type="radio"]:checked + label {
    border-color: rgb(230, 227, 227);
    color: white;
}

/* Loading animation */
.load {
    width: 100%;
    margin: 10px auto;
    display: none;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.load div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(46, 46, 244);
    animation-name: up-and-down;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-right: 5px;
}

.load .two {
    animation-delay: 0.3s;
}

.load .three {
    animation-delay: 0.6s;
}

@keyframes up-and-down {
    to {
        transform: translateY(-15px);
        opacity: 0.2;
    }
}

/* Responsive handling */
@media screen and (max-width: 768px) {
    header {
        margin-bottom: 60px;
    }
    form .container {
        width: 98%;
    }

    .video {
        display: flex;
        flex-flow: column nowrap;
        width: 95%;
        padding: 0 5px;
    }
    .video img {
        max-width: initial;
        width: 100%;
        margin-inline: auto;
    }
    .video > span {
        width: 100%;
        padding: 0;
    }
}
