<!DOCTYPE html>
<html lang="en">

{# Load folders #}
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.png' %}">
    <title>Youtube Downloader</title>{% block head %}{% endblock %}
</head>

<body>
    <div class="main">
        <header>
            <img src="{% static 'imgs/yt.png'%}">
            <ul>
                <li><a href="/" title="Homepage">Home</a></li>
                <li><a href="/about" title="About Me" target="_blank">About</a></li>
            </ul>

        </header>{% block main %}{% endblock %}
        <footer>By Cheikhsidiya</footer>
    </div>
</body>

</html>